body {
  font-family: 'Dosis';
}

a {
  color: darkblue;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  .highlight {
    background-color: lightpink;
  }